</body>
<div class=footer>
    <small><i class="tiny material-icons">phone</i>204-435-4325</small>
    <small><i class="tiny material-icons">mail</i>sadiemayday@gmail.com</small>
    <small><i class="tiny material-icons">location_on</i>1234 Down St. StAdolphe Manitoba R34 2L5</small>
</div> 
</html>
