<!DOCTYPE html>
<html>
  <head>
    <title>Sadie's Mayday Repair</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/dashboard/">Dashboard</a>
      <a href="/logout">Logout</a>
    </nav>