<!DOCTYPE html>
<html>
  <head>
    <title>Sadie's Mayday Repair</title>
    <link rel='stylesheet' href='/stylesheets/styleinside.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div>
        <a href="/cars/">Your Vehicles</a>
      </div>
      <div class="login">
        <div>
          <a href="/logout">Logout
          <i class="material-icons">exit_to_app</i>
        </a>
        </div>
    </nav>