@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
body {
  display:flex;
  flex-direction:column;
  align-items:center;
  height:100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  background: linear-gradient(to bottom, #0C374d, #0C374D, #0D3D56, #3C6478, #107896 );
  background-size: 100%;
	background-repeat: no-repeat;
  color: rgb(209, 202, 202);
}