@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
body {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  height:100vh;
  width:100vw;
  font-family: 'Viga', sans-serif;
  font-size: 40px ;
  background-color: white;
  background: linear-gradient(to bottom, #0C374d, #0C374D, #0D3D56, #3C6478, #107896 );
	background-repeat:repeat;
  color: rgb(193, 195, 238);
  
  }

a {
  color: #00B7FF;
  text-decoration: none;
  display:flex;
  flex-direction:row
}
.maintitle{
  display: flex;
  flex-direction:row;
  font-family: 'Viga', sans-serif;
  font-style: italic;
  font-size:100px;
}
nav{
  display:flex;
  flex-direction:row;
  background-color: #0C374d;
  width:100vw;
  height:100px;
  border-bottom:4px solid rgb(33, 137, 137);
  justify-content: space-around;
  align-items:center;
  font-size:40px;
    
}
.content{
  flex: 1 0 auto;
}
.footer{
  display:flex;
  flex-direction: column;
  align-items:center;
  /* position:absolute; */
  /* bottom: 0; */
  width: 100%;
  background-color: #107896;
  font-size: 40px;
  flex-shrink: 0;
  
}
/* h1, h2, h3, h4, h5, h6{
  line-height: 0.5;
 } */

small{
  display:flex;
  flex-direction: row;
  align-items:center;
}
.material-icons{
  font-size:15px
}
.login{
  display:flex;
  flex-direction: row;
  align-items: center;
  }
a:hover{
  background-color: aqua;
}
li{
  display:flex;
  flex-direction:row;
  column-gap: 5px;
  

}
button{
  font-size:40px;
  background-color:rgb(68, 68, 213);
  color:#8ed3ef
}
.trash{
  color:rgb(181, 10, 10);
}
.add{
  color:rgb(7, 193, 7)
}
a.admin{
 border: 1px solid black;
 padding: 10px;
 background-color: rgb(130, 9, 9);
 border-radius:30px;
 filter:drop-shadow((0 0 100px #333));
}
li.apptlist{
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  padding:20px;
  background: linear-gradient(to bottom, #00B7FF,#8ed3ef );
  color:#333;
  border-radius:40px;
  width:100vw;
  }
p.apptlist{
  margin:30px;
  line-height: 0.1;
  
}
input.makelarge{
  font-size: 50px;
  margin:20px;
}

textarea.comment{
  font-size:50px;
 margin:20px;
}
.apptlist{
  margin:30px;
  
}
.underline{
  text-decoration: underline;
}