<%- include('../partials/header') %>
<h1>Add New Vehicle</h1>
<form action="/cars" method="POST" autocomplete="off">
    <p>Make:</p>
    <input type="text" name="make">
    <p>Model:</p>
    <input type="text" name="model">
    <p>Year:</p>
    <input type="text" name="year">
    <button type="submit"></button>
</form>
<%- include('../partials/footer') %>